#mail{

    .frame{
    margin: 0 auto;
    max-width: 860px;

    }

  .title{
      text-align: center;
      color: #808080;
      font-size: 3rem;
      padding: 4rem 2rem;
      padding-bottom: .5em;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
  }

  .recruit_item_title{
      color: #808080;
      text-align: center;
      font-size: 1.2rem;
      border-top: 1px solid #808080;
      border-bottom: 1px solid #808080;
      padding: 7px;
      margin: 30px 0 ;
  }


  .contact_page_title {
    margin-top: 50px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }

    .contact_page_title:before,
    .contact_page_title:after {
      border-top: 1px solid;
      content: "";
      flex-grow: 1;
    }
    .contact_page_title:before {
      margin-right: 1rem;
    }
    .contact_page_title:after {
      margin-left: 1rem;
    }

    //-------------------入力画面のSCSS----------------------------

  .contact_item{
    margin-top: 30px;


    .contact_text{
      margin-left: 30px;
      height:40px;
      width: 50%;
    }

    .contact_title_any, .contact_title_reg{
      font-size: 1.1rem;
    }



    .contact_title_any::after{
      content: "任意";
      color: #808080;
      margin-left: 10px;
      background: rgb(255, 255, 255);
      padding: 0px 5px;
      border-radius: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: rgb(128, 128, 128);
      border-image: initial;
    }

    .contact_title_reg::after{
      content: "必須";
      color: red;
      margin-left: 10px;
      background: rgb(255, 255, 255);
      padding: 0px 5px;
      border-radius: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: red;
      border-image: initial;
    }

    .text_area{
      margin-left: 30px;
      width: 50%;
      height: 100px;
    }
  }

  dt{
    text-align: left;
    margin-left: 100px;
    width: 200px;
    float: left;
  }

  .contact_button{
    text-align: center;
  }


  .error-message {
    margin-left: 290px;
    font-size: 0.8rem;
    color: #FA5C65;

  }


  //-------------------共通部分のボタンのSCSS----------------------------


  .send_button, .back_button{
    font-size: 1rem;
    color: white;
    width: 50%;
    margin-top: 20px;
    padding: 20px;
  }

  .send_button{
    border: 5px solid black;
    background-color: black;
    width: 300px;

  }

  .back_button{
    border: 5px solid #a9a9a9;
    background-color: #a9a9a9;
    width: 300px;
  }



  //-------------------確認画面のSCSS----------------------------

  .confirm_contact{
    margin: 30px 0;
  }

  .confirm_table, .confirm_contact_title,.confirm_content_item{
    font-size: 0.9rem;
    margin: auto;
    border-collapse: collapse;
   border:1px solid #333;

    .confirm_contact_title{
      text-align: left;
      padding: 15px 10px;
      width: 200px;
      background-color: #fff0f5;
    }

    .confirm_content_item{
    padding: 15px;
      width: 450px;

    }

  }


  //-------------------送信完了画面のSCSS----------------------------


  .contact_button_top{
    margin: 150px 0;

  }

  .send_button_top{
    margin-left: 287px;
    font-size: 1rem;
    color: white;
    padding: 20px 100px;
    border: 5px solid black;
    background-color: black;

  }







}
